#about-container{
    display: flex;
    margin: 0 20px;
    padding-bottom: 20px;
}
#about-img{
    padding-left: 30px;
    padding-top: 40px;
    margin-bottom: 2%;
}
#about-text{
    width: 1000px;
    padding-left: 0;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    /*border  : solid 2px;*/
    text-align: left;
}